@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Services Application</h1>
</div>
<center>
    <div>
        <h3> @Html.ActionLink("Customers", "Index", "Customers")</h3>
    </div>
    <div>
        <h3>@Html.ActionLink("Seller", "Index", "Seller")</h3>
    </div>
    <div>
        <h3>@Html.ActionLink("AllServices", "Index", "AllServices")</h3>
    </div>
    <div>
        <h3>@Html.ActionLink("Buy", "Index", "CustomerService")</h3>
    </div>
</center>