@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="jumbotron">
    <h1>Welcome to Services Application</h1>
</div>
<center>
    <div>
        <h3> @Html.ActionLink("Customers", "Index", "Customers")</h3>
    </div>
    <div>
        <h3>@Html.ActionLink("Seller", "Index", "Seller")</h3>
    </div>
    <div>
        <h3>@Html.ActionLink("AllServices", "Index", "AllServices")</h3>
    </div>
    <div>
        <h3>@Html.ActionLink("Buy", "Index", "CustomerService")</h3>
    </div>
</center>

