@model Services.Models.CustomerServiceModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<form action="@Url.Action("Commit")"  method="post">
@Html.DropDownListFor(m => m.customers, (SelectList) )

</form>



 